<a href="https://colab.research.google.com/github/bahadurshubham/bahadurshubham/blob/main/Train%2C_Test%2C_validation_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing the datasets from the csv file
import pandas as pd
import numpy as np

df_train = pd.read_csv('sample_data/california_housing_train.csv')
df_train_np = df_train.to_numpy()
df_test = pd.read_csv('sample_data/california_housing_test.csv')
df_test_np = df_test.to_numpy()
df_test.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
#Implementing the validation, training and test datasets
index_val = int(len(df_train_np) * 0.60)
X_train , Y_train = df_train_np[:index_val , :-1] , df_train_np[:index_val , -1]
X_val , Y_val = df_train_np[index_val: , :-1] , df_train_np[index_val: , -1]
X_test , Y_test = df_test_np[: , :-1] , df_test_np[: , -1]
(X_train.shape , Y_train.shape) , (X_val.shape , Y_val.shape) , (X_test.shape , Y_test.shape)

(((10200, 8), (10200,)), ((6800, 8), (6800,)), ((3000, 8), (3000,)))

In [ ]:
#making training and test datasets of 3 columns
df_train2 = df_train[['housing_median_age' , 'population' , 'median_house_value']]
df_train2
df_test2 = df_test[['housing_median_age' , 'population' , 'median_house_value']]
df_test2.head()

   housing_median_age  population  median_house_value
0                27.0      1537.0            344700.0
1                43.0       809.0            176500.0
2                27.0      1484.0            270500.0
3                28.0        49.0            330000.0
4                19.0       850.0             81700.0

In [ ]:
#converting the training datasets to numpy and splitting them into input and iutputs datasets
df_train2_np = df_train2.to_numpy()
df_test2_np = df_test2.to_numpy()

X_train , Y_train = df_train2_np[: , :-1] , df_train2_np[: , -1]
X_train.shape , Y_train.shape

((17000, 2), (17000,))

In [ ]:
#implementing the linear regression model on the training datasets
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

linear_model = LinearRegression().fit(X_train , Y_train)
Train_predict = linear_model.predict(X_train)

mean_absolute_error(Train_predict , Y_train)

91064.44407843439

In [ ]:
#implementing the linear regression on the test datasets
df_test2_np = df_test2.to_numpy()
X_test , Y_test = df_test2_np[: , :-1] , df_test2_np[: , -1]


Test_predict = linear_model.predict(X_test)
mean_absolute_error(Test_predict , Y_test)

89391.632907449

In [ ]:
#implementing the random forest regressor from ensemble class to reduce the error
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=4 , max_depth=5).fit(X_train , Y_train)
train_rf_preds = rf.predict(X_train)
test_rf_preds = rf.predict(X_test)
mean_absolute_error(train_rf_preds , Y_train) , mean_absolute_error(test_rf_preds , Y_test)

(88775.58780853779, 87806.6911991811)

In [ ]:
from sklearn.model_selection import train_test_split
train_test_split(X_test , Y_test , test_size = 0.4)

[array([[  36.,  687.],
        [   5., 1275.],
        [  44.,  825.],
        ...,
        [  16.,  433.],
        [  16.,  665.],
        [  24., 1827.]]), array([[  12., 1840.],
        [  32., 2504.],
        [  31., 1245.],
        ...,
        [  37.,  753.],
        [  24., 1932.],
        [  52., 1153.]]), array([195400., 122900.,  79700., ...,  75000., 260000.,  83100.]), array([162000., 201700., 276000., ..., 225000., 160200., 404700.])]